.navbar{
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    background-color: #1f1f1f;
    height: 3rem;
    align-items: center;
    box-shadow: 0px 1px 10px 4px #444444d0;
    width: 100%;
}


.navbar li:hover{
    cursor: pointer;
}

li{
    list-style: none;
    font-size: 1.2rem;
    color: rgb(237, 192, 133);
}

a{
    color: white;
}

.nav-color{
    color: white;
}

.nav-default{
    color: rgb(237, 192, 133);
}

.list-style{
    text-decoration: none;
}


/* This is Projects part */


/* Contact us CSS */

